.grid {
  display: grid;
  gap: 20px;
  grid-template-columns: 2fr 1fr;
  place-items: start;
}

.titulo {
  grid-column: 1 / -1;
}

.info {
  display: grid;
  gap: 20px;
  place-items: start;
}
aside {
  background-color: #ffcdd2;
  width: 0vw;
  font-family: "Hepta Slab", Helvetica, Arial;
  transition: all ease 0.2s;
  overflow-x: hidden;
}

aside.show {
  width: 30vw;
}

.cart--area {
  margin-top: 30px; /* ajuste */
  padding: 20px;
}

.cart--area h1 {
  display: relative;
}

/* Estilos Gerais */

body {
  font-family: Arial;
  margin: 40px;
}

h1,
p {
  margin: 0px;
}

p {
  font-size: 20px;
}
